<section>
	<button id="reset">Retry?</button>
</section>
<section id="board">
	<div class="shore source">
		<div class="character civilian">Civilian</div>
		<div class="character soldier">Soldier</div>
		<div class="character zombie">Zombie</div>
	</div>
	<div class="river">
		<div id="boatContainer" class="source">
			<div id="boatSeat"></div>
			<div id="boat"></div>
		</div>
	</div>
	<div class="shore destination"></div>
</section>
